.aside-marketplace {
text-align: center;
padding: 15px;
    a {
        // width: 100%;
        margin-bottom: 30px;
        text-decoration: none;

        p {
            // text-align: center;
            color: $color-fuente-claro;
            margin: 0;
        }
    }
}