@import '../../scss/global.scss';
.claseMarketplace {
    background-color:$color-fuente-claro;
}
.contenedor-pulseras{
    background-color:$color-fuente-claro;
    color: $color-bmkjoyas;
    // color: #4b4f58;
}
.title-products{
    font-weight: lighter;
    text-align: center;
    margin: 10px 0 30px 0;
}
.search-input{
    float: left;
    padding:10px;
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
    outline: 0;
    // box-shadow: none;
}
.select-order {
    float: right;
    border: none;
    cursor: pointer;
    padding:10px;
}
.product-box {
    text-align: center;
    color:$color-gris;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    // gap: 0.5rem;
    .offer { // clase para colocar la oferta
        margin: 0.5rem;
        color: green;
        text-transform: uppercase;
        font-weight: bold;
       &.hidden { // debe tener las clases offer y hidden para que aplique el hidden (oculto)
            visibility: hidden;
        }
    }
    .price {
        font-size: 18px;
        margin: 5px; 
    }
    strong del {
        font-size: 14px;
        font-weight: normal;
        // margin-bottom: 5px;
    }
    h4 {
        margin: 5px; 
        font-weight: normal;
        // overflow: hidden;
        // -o-text-overflow: ellipsis; Para el navegador opera
        // text-overflow: ellipsis; Coloca 3 puntos (...) y corta el texto largo
        white-space: normal;
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: 1px solid $color-bmkjoyas;
        border-radius: 15px;
        background-color: $color-bmkjoyas;
        display:flex;
        align-items:center;
        justify-content: center;
        margin: 16px;
        p {
           font-size: 14px; 
        }
    }
    p {
        color:$color-fuente-claro; 
        margin:0;
    }
    .img-logo {
        margin-right:5px;
        max-width:16px;
        width: 100%;
        max-height: 16px;
    }
    .img-logo:hover {
        max-width:16px;
        width: 100%;
        max-height: 16px;
    }
    .product-box2 {
        outline:2px solid #DDDDDD;
    }
}
.product-box:hover {
    text-decoration: none;
    font-weight: normal;
}
.pagination-marketplace {
    text-align: center;
    font-size: 18px;
    li {
        display: inline-block;
        a {
            color: $color-bmkjoyas;
            border: 1px solid $color-bmkjoyas;
            padding: 5px;
            width:30px;
            text-align: center;
            display: inline-block;// Con esta propiedad se logra que tome el width:30%
            text-decoration: none;
            // &.active {
            //     border: 1px solid white;
            // }
        }
        a.active {
            color: white;
            background-color: $color-bmkjoyas;
        }
    }
}

#menu {
text-align: center;
margin-top: 20px;
display: flex;
flex-direction: row;
justify-content: space-around;
}

#menu li a {
    padding: 5px;
    margin-bottom: 7px;
    color: $color-bmkjoyas;
    text-decoration: none;
    font-size: 20px;
}
.titulo-categ {
    color: $color-bmkjoyas;
}
#menu li a.active {
  font-weight: bold;
  text-decoration: underline;
}
@media (min-width:768px) {
    #menu {
        text-align: left;
        margin-left: 20px;
    }
}

@media (min-width: 768px)  {
    #menu {
        display: block;
    }
}

.product-box {
    .img-products {
        height: 300px;
        width: 100% ;
        // border-radius: 1rem;
        transition: all 0.3s;
        // filter: brightness(1);
        filter: contrast(1.2);
        // filter: saturate(1.2);
    }
}
.product-box:hover {
    .img-products {
        // transform: scale(1.05, 1.05);
        // filter: brightness(1.2);
        filter: contrast(1.4);
        // filter: saturate(1.4);
        // max-width:400px;
        // width: 100%;
        // max-height:400px ;
    }
}
.button {
        background-color: transparent;
        padding: 0px;
        border:none;
        // border-width:0px;
        // border-color: transparent;
        // border-image: none;
}
@media (min-width: 768px)  {
    #menu {
        display: block;
    }
}
