@import '../../scss/global.scss';
.formas_envio {
    h1 {
        text-align: center;
        margin: 20px;
        padding: 20px;
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px;
        padding: 20px;
        li {
            img {
            max-width: 200px;
            //min-width: 20px;
            height: 100px;
            margin: 20px;
            }
        }
    }
}
.logo_olva {
    background-color: #f9b52f;
}